<phpunit colors="true" strict="true" bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="hylianshield">
      <directory>Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
      <directory>.</directory>
      <directory>../vendor</directory>
    </blacklist>
  </filter>
  <logging>
    <log type="coverage-text" target="php://stdout" />
    <log type="coverage-clover" target="../build/logs/clover.xml"/>
  </logging>
</phpunit>
